<!--Jersey dimensions are 501w x 907h-->
<div style="position: relative; width: 332px">
    <div style="width: 50%; height: 300px; float: left; position: relative;">
        <img class="primary-color-img" [src]="primary_url" />
        <img class="secondary-color-img" [src]="secondary_url" />
        <img class="logo-img" [src]="displayed_jersey.logo" />
    </div>
    <div style="margin-left: 50%; width: 50%; height: 300px; position: relative;">
        <img class="primary-color-img" [src]="primary_url" />
        <img class="secondary-color-img" [src]="secondary_url" />
        <h1 class="name-txt">{{displayed_jersey.name}}</h1>
        <h1 class="number-txt">{{displayed_jersey.number}}</h1>
    </div>
</div>