*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 2000px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.4);
    background-color: rgb(244, 218, 177);
}
.header h1{
    color: white;
    padding: 15px;
}
.body{
    overflow: auto;
    flex: 1;
    color: white;
    background-color: rgb(244, 218, 177);;
    padding: 20px 30px;
    border: black solid 4px;
    margin: 25px;
    margin-top: 45px;
}
.message{
    background-color: dodgerblue;
    padding: 10px;
    color: white;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 15px;
}
.user_message{
    margin-left: auto;
    background-color: white;
    color: black;
}
.dainput{
    flex: 1;
    height: 40px;
    width: calc(100% - 200px);
    border: black solid 4px;
    outline: none;
    margin: 0px 25px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 5px;
    font-size: 16px;
}
.dabutton{
    width: 100px;
    font-size: 18px;
    height: 40px;
    border: black solid 4px;
    border-radius: 10px;
    outline: none;
    background-color: rgb(89, 100, 253);
    color: white;
    cursor: pointer;
}
.dabutton:hover{
    background-color: rgb(53, 53, 255);
    transition: 0.2s ease;
}